body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  background-color: #6200ea;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-main {
  flex: 1;
  display: flex;
}

.app-content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  height: 100%;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #444;
}

.menu-item.active {
  background-color: #6200ea;
}

.main-view {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f9;
  overflow-y: auto;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.sign-in-btn {
  background-color: #6200ea;
  color: white;
}

.sign-out-btn {
  background-color: #f44336;
  color: white;
}

.app-body {
  padding: 20px;
}

.sign-in-container {
  margin-top: 50px;
}

.sign-in {
  background-color: #9181a8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sign-in:hover {
  background-color: #4e00c7;
}

.upload-form {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if space is limited */
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Adds space between the elements */
}

.input-field,
.file-input {
  flex: 1; /* Allows inputs to grow and fill available space */
  min-width: 200px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.upload-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  flex-shrink: 0; /* Prevents button from shrinking */
}

.upload-button:hover {
  background-color: #6f1ee0;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Adjust card size */
  gap: 15px;
  margin-top: 20px;
}

.video-card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: left;
}

.video-card:hover {
  transform: translateY(-5px);
}

.thumbnail-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: #000; /* Black background for videos without a thumbnail */
}

.thumbnail-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-details {
  padding: 10px;
}

.video-title {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.video-uploader {
  font-size: 12px;
  color: #666;
  margin: 0;
}
